body{
    margin: 0;
    background-color: #172630;
    color: white;
}
a{
    color: rgb(165, 154, 255);
}
.navbar{
    background-color: #172630;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-size: 25px;
    height: 8vh;
    align-content: center;
}
.navbar a{
    color: white;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(53, 42, 132);
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    transition: 1s;
}
.Main{
    margin-top: 5vh;
    padding: 50px;
}
.contentdiv ol{
    list-style-type: none;
    padding: 0;
}
.contentdiv ol li{
    display: inline;
    margin-right: 10px;
}
.Profileimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentdiv{
    text-align: left;
    grid-column: 2;
    padding: 30px;
    width: 600px;
}
.ProfileImage{
    width: 200px;
    border-radius: 50%;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.icon{
    width: 40px;
}
.info{
    padding: 50px;
    justify-content: center;
    text-align: center;
    display: grid;
}
.title{
    text-align: center;
    font-size: 25px
}
.imagediv{
    grid-column: 1;
}
.descriptiondiv{
    text-align: left;
    grid-column: 2;
    padding: 30px;
    width: 600px;
}
.Contacts{
    margin: 0 auto;
    width: fit-content;
}